name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        neovim_version: ["v0.10.0", "stable", "nightly"]
    steps:
      - uses: actions/checkout@v4
      - uses: rhysd/action-setup-vim@v1
        with:
          neovim: true
          version: ${{ matrix.neovim_version }}
      - name: Install vusted
        run: |
          git clone --depth 1 https://github.com/notomo/vusted.git /tmp/vusted
      - name: Run tests
        run: /tmp/vusted/bin/vusted tests/
